$banner-height: 577px;
$banner-heightS: 350px;
$banner-heightXS: 175px;


.banner {
  height: $banner-height;
  background-color: $blue;
  
  @include breakpoint(small) {
    height: $banner-heightS;
  }

  @include breakpoint(xsmall) {
    height: $banner-heightXS;
  }
  
  .wrapper {
    align-items: center;
  }
}


.lead{
  margin-right: 50px;
  max-width: 725px;
  clear: fix;

  @include breakpoint(small) {
    max-width: 455px;
  }

  @include breakpoint(xsmall) {
    max-width: 230px;
  }

  h1 {
    margin-bottom: 50px;
    color: $white;
    line-height: 1.08;
    font-size: 57px;
    letter-spacing: 2px;
    
    @include breakpoint(small) {
      font-size: 32px;
      margin-bottom: 30px;
    }

    @include breakpoint(xsmall) {
      font-size: 15px;
      margin-bottom: 15px;
    }
  }

  a {
    color: transparentize($white, 0.5);
    font-size: responsive 14px 34px;
  }

  .button {
    font-size: responsive 16px 36px;
    display: inline-block;
    float: right;
    @include squareCenter(70px);
    border-radius: 50%;

    &:hover {
      background-color: darken($blue, 5%);
    }
    
    @include breakpoint(small) {
      @include squareCenter(45px);

    }

    @include breakpoint(xsmall) {
      @include squareCenter(30px);
    }

  }
}

