/*
.menu {
  overflow: hidden;
  position: relative;
  right: 0;
}


header {
  clear: fix;
  background-color: $grey;
  color: $white;
  position: relative;
  height: 37px;

  h2 {
    float: left;
    line-height: 37px;
    font-size: 14px;
    margin: 0 19px;
    letter-spacing: 1px;
  }
}


#menu-toggle {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  padding: 0 12px;
  float: right;
  background-color: $dark-grey;
  color: $white;
  overflow: hidden;
}

.menu-side {
  background-color: $dark-grey;
  color: $white;
  position: fixed;
  top: 0;
  right: -230px;
  width: 210px;
  height: 100%;
  padding: 0 10px;

  ul {
    margin: 37px 0;
    list-style: none;

    li {
      padding: 10px 0;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: translateX(10px);
      }
    }
  }
}

.menu-open {
  right: 230px;


  .menu-side {
    right: 0;
  }
}

.menu, .menu-side {
  transition: all 200ms ease-in-out;
}
*/





header {
  background-color: $grey;
  color: $white;
  height: 97px;

  nav {
    max-width: $width;
    margin: 0 auto;
  }
}

.navbar ul li{
  display: inline-block;
  line-height: 97px;
  margin: 0 15px;
  text-transform: uppercase;

  a {
    color: $white;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}