$header-height: 100px;
$header-heightS: 75px;
$header-heightXS: 37px;



header {
  background-color: $grey;
  color: $white;
  height: $header-height;
  
  @include breakpoint(small) {
    height: $header-heightS;
    clear: fix;
    position: relative;
  }

  @include breakpoint(xsmall) {
    height: $header-heightXS;
  }

  nav {
    max-width: $width;
    margin: 0 auto;

    @include breakpoint(small) {
      display: none;
    }

    ul {
      padding: 0;
      margin-left: 35px;
    }
  }
}


.large ul li{
  display: inline-block;
  line-height: $header-height;
  margin: 0 15px;
  text-transform: uppercase;

  a {
    color: $white;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}




// Mobile styles

.small {
  display: none;

  @include breakpoint(small) {
    display: block;
  }

  h2 {
    float: left;
    line-height: $header-heightS;
    font-size: responsive 14px 56px;
    margin: 0 19px;
    letter-spacing: 1px;

    @include breakpoint(xsmall) {
      line-height: $header-heightXS;
    }
  }
}

#menu-toggle {
  display: inline-block;
  float: right;
  background-color: $dark-grey;
  color: $white;
  overflow: hidden;
  font-size: 25px;
  text-align: center;
  @include squareCenter($header-heightS);

  @include breakpoint(xsmall) {
    font-size: 14px;
    @include squareCenter($header-heightXS);
  }

  div {
    &.icon-cancel {
      animation: tick 180ms ease-in;
    }
  }
}

.menu {
  overflow: hidden;
  position: relative;
  right: 0;
}

.menu-side {
  background-color: $dark-grey;
  color: $white;
  position: fixed;
  top: 75px;
  right: -230px;
  width: 210px;
  height: 100%;
  padding: 0 10px;

  @include breakpoint(xsmall) {
    top: 37px;
  }

  ul {
    margin: 37px 0;
    list-style: none;

    li {
      padding: 10px 0;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: translateX(10px);
      }
    }
  }
}


.menu-open {
  right: 230px;


  .small .menu-side {
    right: 0;
  }
}

.menu, .menu-side {
  transition: all 200ms ease-in-out;
}



.overlay {
  position: absolute;
  background-color: rgba(black, 0.8);
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1;

  @include breakpoint(xsmall) {
    top: 37px;
  }
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  overflow: hidden;
}




@keyframes tick {
  0% { transform: scale(0); }
  90% { transform: scale(1.4); }
  100% { transform: scale(0); }
}