$text-box-height: 234px;
$text-box-heightS: 150px;
$text-box-heightXS: 75px;

.text-box {
  background-color: $grey;
  height: $text-box-height;

  @include breakpoint(small) {
    height: $text-box-heightS;
  }

  @include breakpoint(xsmall) {
    height: $text-box-heightXS;
  }

  .wrapper {
    align-items: center;

    p {
      flex-grow: 2;
      font-size: responsive 10px 30px;
      color: #9282a0;
    }

    .button {
      @include squareCenter($text-box-height);
      background-color: $pink;
      font-size: responsive 16px 50px;
      
      @include breakpoint(small) {
        @include squareCenter($text-box-heightS);
      }

      @include breakpoint(xsmall) {
        @include squareCenter($text-box-heightXS);
      }

      &:hover {
        background-color: darken($pink, 8%);
      }
    }
  }
}

