.wrapper {
  box-sizing: border-box;
  max-width: $width;
  margin: 0 auto;
  display: flex;
  height: 100%;
  padding-left: 80px;

  @include breakpoint(small) {
    padding-left: 50px;
  }

  @include breakpoint(xsmall) {
    padding-left: 25px;
  }
}

ul {
  margin: 0;
  list-style: none;
}

.button {
  font-family: 'Quicksand', sans-serif;
  color: $white;
  cursor: pointer;
  text-align: center;
  transition: all 200ms ease-in-out;
}